.flirtyTitle{
  font-family: 'Pacifico', cursive;
}
.AnimeTitle{
  font-family: 'Shadows Into Light', cursive;
}
.ZenTitle{
  font-family: 'Caveat', cursive;
}
.InterviewTitle{
  font-family: 'Teko', sans-serif;
}
.ProductTitle{
  font-family: 'Inconsolata', monospace;
}
.ReligiousTitle{
  font-family: 'Cinzel', serif;

}
.StandUpTitle{
  font-family: 'Indie Flower', cursive;
}

.card-title{
  font-size: 20px;
}
.card-subtitle{
  font-size: 12px;
}
.card-text{
  font-size: 15px;
}
.blockquote-footer{
  font-size: 15px;
}
.card-link{
  font-size: 15px
}
.all{
  font-family: 'Cinzel', serif;
}
body{
  background-color: #f7f7f2;
}