{%extends 'base.html'%}

{%block content%}
  {%for pitcht in funny%}
    <h2>Because laughter heals the soul</h2>
    <h3>{{pitcht.title}}</h3>
    <p>{{pitcht.pitch}}</p>
    <p>{{pitcht.name}}</p>
    <a href="{{url_for('main.pitch_comment',uname = current_user.username, pitchId = pitcht.id)}}">Give Feedback</a>
  {%endfor%}
  <hr><hr>
  
  {%for pitcht in flirty%}
    <h2>Because love makes the world go round</h2>
    <h3>{{pitcht.title}}</h3>
    <p>{{pitcht.pitch}}</p>
    <p>{{pitcht.name}}</p>
    <a href="{{url_for('main.pitch_comment',uname = current_user.username,pitchId = pitcht.id)}}">Give Feedback</a>
  {%endfor%}
{%endblock%}


<!-- <a href="{{url_for('main.upvote',pitch_id = pitcht.id)}}"><img src="../static/images/Selection_017.png" alt=""> Thumbs Up {{upvote_no}}</a> -->