{%extends 'base.html'%}
{%import 'macros.html' as macro%}

<!--Style Block-->
{%block styles%}
  {{super()}}
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/index.css')}}">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Cinzel&family=Inconsolata:wght@500&family=Indie+Flower&family=Pacifico&family=Shadows+Into+Light&family=Teko:wght@300&display=swap" rel="stylesheet">
  {%endblock%}
{%block content%}
  <div class="container text-center index">
    <h2 class="flirtyTitle">Flirty</h2>
    <div id="flirty">
      {%if flirty%}
      {{macro.displayPitches(flirty)}}
      {%else%}
      <p>There are no flirty pitches</p>
      {%endif%}
    </div>
    <h2 class="StandUpTitle">StandUp</h2>
    <div id="StandUp">
      {%if standup%}
      {{macro.displayPitches(standup)}}
      {%else%}
      <p>There are no standup pitches</p>
      {%endif%}
    </div>
    <h2 class="ReligiousTitle">Religious</h2>
    <div id="Religious">
      {%if religious%}
      {{macro.displayPitches(religious)}}
      {%else%}
      <p>There are no religious pitches</p>
      {%endif%}
    </div>
    <h2 class="ProductTitle">Product</h2>
    <div id="Product">
      {%if product%}
      {{macro.displayPitches(product)}}
      {%else%}
      <p>There are no product pitches</p>
      {%endif%}
    </div>
    <h2 class='InterviewTitle'>Interview</h2>
    <div id="Interview">
      {%if interview%}
      {{macro.displayPitches(interview)}}
      {%else%}
      <p>There are no interview pitches</p>
      {%endif%}
    </div>
    <h2 class="ZenTitle">Zen</h2>
    <div id="Zen">
      {%if zen%}
      {{macro.displayPitches(zen)}}
      {%else%}
      <p>There are no zen pitches</p>
      {%endif%}
    </div>
    <h2 class='AnimeTitle'>Anime</h2>
    <div id="Anime">
      {%if anime%}
      {{macro.displayPitches(anime)}}
      {%else%}
      <p>There are no anime pitches</p>
      {%endif%}
    </div>
  </div>

  {%endblock%}
