
<!--Display Pitches per category-->
{%macro displayPitches(pitchList)%}

  {%for singlePitch in pitchList%}
  <div class="text-center all">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{singlePitch.title}}</h5>
        <h6 class="card-subtitle mb-2 ">Category: {{singlePitch.name.name}}</h6>
        <p class="card-text">{{singlePitch.pitch|truncate(200)}}</p>
        <blockquote class="blockquote-footer">By {{singlePitch.username.username}}</blockquote>
        <a href="{{url_for('main.pitch_comment',uname = singlePitch.username.username, pitchId = singlePitch.id)}}" class="btn">Give Feedback</a>
      </div>
      <a href="{{url_for('main.upvote',pitch_id = singlePitch.id)}}"><img src="../static/images/icons8-thumbs-up-64.png" alt="Thumbs up" width="35" height="35"></a>
      <p class="blockquote-footer">{{singlePitch.up_votes}}</p>
      <a href="{{url_for('main.downvote',pitch_id = singlePitch.id)}}"><img src="../static/images/icons8-thumbs-down-64.png" alt="Thumbs Down" width="35" height="35"></a>
      <p class="blockquote-footer">{{singlePitch.down_votes}}</p>
    </div>
  </div>
  {%endfor%}
  {%endmacro%}